.react-calendar{width: 100%!important;border: none!important;box-shadow: 10px 11px 11px rgba(0,0,0,0.2)!important;border-radius: 40px;overflow: hidden;padding: 30px;}

.react-calendar button{margin-bottom: 30px!important;}