@tailwind base;
@tailwind components;
@tailwind utilities;
@import 'pretendard/dist/web/static/pretendard.css';
@import '@fontsource/poppins';

.font-sans {
  font-family: 'Poppins', 'Pretendard', sans-serif;
}

body {
  font-size: 14px;
  font-weight: 400;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}